<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.task.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zsh.task.entity.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="alia" jdbcType="VARCHAR" property="alia" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="is_online" jdbcType="SMALLINT" property="isOnline" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="gender" jdbcType="SMALLINT" property="gender" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="idiograph" jdbcType="VARCHAR" property="idiograph" />
        <result column="purse" jdbcType="DOUBLE" property="purse" />
        <result column="location" jdbcType="VARCHAR" property="location" />
        <result column="lon" jdbcType="DOUBLE" property="lon" />
        <result column="lat" jdbcType="DOUBLE" property="lat" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
        <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <sql id="base_column">
        id,name,pwd,alia,avatar,is_online,create_time,phone,gender,birthday,update_time,idiograph, purse,location,lon,lat,city_name,city_code,email
    </sql>

    <update id="updateByPrimaryKeySelective">
        update user
        <set>
            <if test="name !=null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd !=null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="alia !=null">
                alia = #{alia,jdbcType=VARCHAR},
            </if>
            <if test="avatar !=null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="isOnline !=null">
                is_online = #{isOnline,jdbcType=SMALLINT},
            </if>
            <if test="createTime !=null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="phone !=null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="gender !=null">
                gender = #{gender,jdbcType=SMALLINT},
            </if>
            <if test="birthday !=null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="idiograph !=null">
                idiograph = #{idiograph,jdbcType=VARCHAR},
            </if>
            <if test="purse !=null">
                purse = #{purse,jdbcType=DOUBLE},
            </if>
            <if test="location !=null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="lon !=null">
                lon = #{lon,jdbcType=VARCHAR},
            </if>
            <if test="lat !=null">
                lat = #{lat,jdbcType=VARCHAR},
            </if>
            <if test="cityName !=null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="cityCode !=null">
                city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="email !=null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByIds" parameterType="java.util.Set" resultType="com.zsh.task.entity.User">
        select
        <include refid="base_column"/>
        from user
        where id
        <foreach collection="ids" index="index" close=")" open="in (" separator="," item="item">
        #{item}
        </foreach>
    </select>

    <select id="findFriends" resultType="com.zsh.task.entity.User" parameterType="java.lang.Long">
        SELECT
            t1.id,t1.name,t1.alia,t1.avatar,t1.is_online,t1.create_time,t1.phone,t1.gender,t1.birthday,t1.update_time,t1.location,t1.email
            ,max(t3.send_time) lastTime,COUNT(t3.is_read) mesCount
        FROM
            user t1
            left JOIN user_relation t2 ON ( t1.ID = t2.user1 OR t1.ID = t2.user2 )
            left JOIN message t3 on(t1.id = t3.user1_id and t3.is_read = 0 and t3.user2_id = #{userId})
        WHERE
            t1.id != #{userId,jdbcType=BIGINT} and
            (t2.user1 = #{userId,jdbcType=BIGINT} or t2.user2 = #{userId,jdbcType=BIGINT})
            <if test="name != null">
                and t1.name like '%${name}%'
            </if>
        group by t1.id,t3.user1_id
        ORDER BY max(t3.send_time) desc
    </select>
    <select id="getTwoUserToMap" resultType="com.zsh.task.entity.User">
        select <include refid="base_column"/>
            from user
        where id = #{id1,jdbcType=BIGINT} or id = #{id2,jdbcType=BIGINT}
    </select>
    <select id="myPage" resultType="com.zsh.task.entity.User">
        select t1.*,t2.identity as "identity" from user t1 left join user_identity t2 on(t1.id = t2.user_id)
        ${ew.customSqlSegment}
    </select>

    <update id="purseUpOrDown" >

        update user set purse = purse - #{var1},update_time = now() where id = #{id}
    </update>

    <select id="getRequestNoAgree" resultType="java.util.Map">
        select t1.* ,t2.create_time as "applicant_time" ,t2.reason  from user t1 left join friend_request t2 on(t1.id = t2.applicant)
            where t2.receiver = #{receiver} and t2.is_agree = -1 order by t2.create_time desc
    </select>

    <select id="selectAllCity" resultType="java.util.Map">
        SELECT
            t1.name name,
            COUNT( t2.pub_user ) count,
            t1.lon lon,
            t1.lat lat,
            t1.city_name cityName
        FROM
            user t1
            left JOIN trad_account t2 ON ( t1.id = t2.pub_user )
        GROUP BY
            t1.id,
            t2.pub_user
        ORDER BY
            t1.id DESC
    </select>
</mapper>